%h1 Hello Gateway

%p
  Gateway to what? And so you may well ask . . .

.card.w-96.bg-base-100.shadow-xl
  .card-body
    %h2.card-title Shoes!
    %p If a dog chews shoes whose shoes does he choose?
  %figure
    %img{:alt => "Shoes", :src => "https://api.lorem.space/image/shoes?w=400&h=225"}/
.card.w-96.bg-base-100.shadow-xl
  .card-body
    %h2.card-title Shoes!
    %p If a dog chews shoes whose shoes does he choose?
  %figure
    %img{:alt => "Shoes", :src => "https://api.lorem.space/image/shoes?w=400&h=225"}/
