.relative.block.border.border-gray-100
  %h3.mt-4.text-lg.font-bold= key.upcase
  %p= value
  %p #{section.content['cards'].length} cards
.relative.block.border.border-gray-100
  =image_tag("cms/card_preview/#{value}" , class: "w-full object-contain")
