.relative.block.border.border-gray-100
  %h3.mt-4.text-lg.font-bold= key.upcase
  %button.ml-3.inline-block.rounded-lg.bg-blue-500.px-5.py-3.text-sm.font-medium.text-white
    Update

.relative.block.border.border-gray-100
  -if value
    = image_tag "cms/" + value
  -else
    No image
